<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haozi.mybatis.generated.dao.FlywaySchemaHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.haozi.mybatis.generated.entity.FlywaySchemaHistory" >
    <id column="installed_rank" property="installedRank" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="script" property="script" jdbcType="VARCHAR" />
    <result column="checksum" property="checksum" jdbcType="INTEGER" />
    <result column="installed_by" property="installedBy" jdbcType="VARCHAR" />
    <result column="installed_on" property="installedOn" jdbcType="TIMESTAMP" />
    <result column="execution_time" property="executionTime" jdbcType="INTEGER" />
    <result column="success" property="success" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    installed_rank, version, description, type, script, checksum, installed_by, installed_on, 
    execution_time, success
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from flyway_schema_history
    where installed_rank = #{installedRank,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from flyway_schema_history
    where installed_rank = #{installedRank,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.haozi.mybatis.generated.entity.FlywaySchemaHistory" >
    insert into flyway_schema_history (installed_rank, version, description, 
      type, script, checksum, 
      installed_by, installed_on, execution_time, 
      success)
    values (#{installedRank,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{script,jdbcType=VARCHAR}, #{checksum,jdbcType=INTEGER}, 
      #{installedBy,jdbcType=VARCHAR}, #{installedOn,jdbcType=TIMESTAMP}, #{executionTime,jdbcType=INTEGER}, 
      #{success,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.haozi.mybatis.generated.entity.FlywaySchemaHistory" >
    insert into flyway_schema_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="installedRank != null" >
        installed_rank,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="script != null" >
        script,
      </if>
      <if test="checksum != null" >
        checksum,
      </if>
      <if test="installedBy != null" >
        installed_by,
      </if>
      <if test="installedOn != null" >
        installed_on,
      </if>
      <if test="executionTime != null" >
        execution_time,
      </if>
      <if test="success != null" >
        success,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="installedRank != null" >
        #{installedRank,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="script != null" >
        #{script,jdbcType=VARCHAR},
      </if>
      <if test="checksum != null" >
        #{checksum,jdbcType=INTEGER},
      </if>
      <if test="installedBy != null" >
        #{installedBy,jdbcType=VARCHAR},
      </if>
      <if test="installedOn != null" >
        #{installedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="executionTime != null" >
        #{executionTime,jdbcType=INTEGER},
      </if>
      <if test="success != null" >
        #{success,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haozi.mybatis.generated.entity.FlywaySchemaHistory" >
    update flyway_schema_history
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="script != null" >
        script = #{script,jdbcType=VARCHAR},
      </if>
      <if test="checksum != null" >
        checksum = #{checksum,jdbcType=INTEGER},
      </if>
      <if test="installedBy != null" >
        installed_by = #{installedBy,jdbcType=VARCHAR},
      </if>
      <if test="installedOn != null" >
        installed_on = #{installedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="executionTime != null" >
        execution_time = #{executionTime,jdbcType=INTEGER},
      </if>
      <if test="success != null" >
        success = #{success,jdbcType=BIT},
      </if>
    </set>
    where installed_rank = #{installedRank,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haozi.mybatis.generated.entity.FlywaySchemaHistory" >
    update flyway_schema_history
    set version = #{version,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      script = #{script,jdbcType=VARCHAR},
      checksum = #{checksum,jdbcType=INTEGER},
      installed_by = #{installedBy,jdbcType=VARCHAR},
      installed_on = #{installedOn,jdbcType=TIMESTAMP},
      execution_time = #{executionTime,jdbcType=INTEGER},
      success = #{success,jdbcType=BIT}
    where installed_rank = #{installedRank,jdbcType=INTEGER}
  </update>
</mapper>